*
!/.gitignore

!/scripts/
!/scripts/**/
!/tools/
!/tools/**/
!/campaign_data/
!/campaign_data/**/
!/maps/
!/maps/**/
!/gui/
!/gui/**/
!/objects/
!/objects/**/

!*.py
!*.pyw
!*.xml

!*.font
!*.imageset
!*.layout
!*.looknfeel
!*.scheme

/settings.xml